
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
--warning: crimson;
--glow: rgb(6, 247, 247);
--bigLetters:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-image: linear-gradient(to right, rgba(0,0,0,.9) 0%, rgba(0,0,0, 1));
}

.card {
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-top: 150px;
    background-color: rgb(44, 44, 44);
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px var(--glow);
    font-family: 'Courier New', Courier, monospace;
}

#title-content {
    padding: 20px;
    text-align: center;
}

#backBtn {
    display: none;
    padding: 20px;
    background-color: red ;
}

#viewScores {
    cursor: grab;
}

#highScoreList {
    display: none;
    flex-direction: column;
    text-align: center;
    margin: 60px;
    padding: 30px;
    min-height: 400px;
    font-size: 2.5em;
    letter-spacing: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    color: white;
    background-image: linear-gradient(to left, gold 0%, black 100%);
}

.btn {
    border-radius: 5px;
    padding: 15px;
    font-weight: bolder;
}

.warning {
    color: var(--warning);
    font-weight: bolder;
    font-size: 20px;
}

#start-btn {
    background-color: rgb(16, 200, 16);
    color: white;
    font-size: 20px;
}

#start-btn:hover {
    background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, var(--glow) 100%);
    color: black;
    cursor: grab;
}

#quiz-content {
    display: none;
    flex-direction: column;
    text-align: center;
}

#questionArea {
    padding: 20px;
}

#answers {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.choice {
    background-image: linear-gradient(to right, rgb(129, 121, 121) 0%, rgb(42, 45, 192) 100%);
    color: white;
    padding: 10px;
}   

.choice:hover {
    cursor: grab;
    background-image: linear-gradient(to right, rgb(42, 45, 192) 0%, rgb(129, 121, 121) 100%);
}

#timer {
margin: auto;
padding: 30px;
font-size: 20px;
}

#gameOver {
    display: none;
    text-align: center;
    min-height: 250px;
    padding: 10px;
    color: var(--warning);
    font-size: 25px;
    border-radius: 0px;
    margin: 0;

}

#bigLetters {
    font-size: 100px;
    font-family: var(--bigLetters);
    letter-spacing: 1px;
    justify-content: center;
    font-weight: lighter;
   
}

#youWin {
    color: goldenrod;
    background-image: radial-gradient(rgb(255, 255, 255) 5%, rgb(3, 6, 184) 100%);
    font-size: 30px;
    font-family: var(--bigLetters);
}

.submit {
    display: inline-block;
    color: white;
    background-color: rgb(60, 2, 113);
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    cursor: grab;
}

#playAgain {
    margin: auto;
    margin-bottom: 25px;
    padding: 20px;
    font-size: 25px;
    cursor: grab;
}

#youWin {
    display: none;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
}